*{
    font-family: 'Poppins';
    
}
.headcont{
    height: 500px;
    background-color: lightgray;
  
    overflow: hidden;
    
}
.header{
    padding-left: 10px;
    display: inline;
}
.header a{

    text-decoration: none;
    color: #000;
    padding-right: 20px;
    padding-left: 80px;  
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    
}
a:hover{
	  
    color:rgb(226, 95, 43) ;
    text-decoration: underline;
    
}
.intro{
    margin-left: 100px;
    margin-top: 50px;
    font-size: 12px;
} 
#order{
   border-radius: 50px;
   background-color: #6CB840;
   border: none;
   width: 10%;
   color: white;
   font-weight: 700;
   padding-top: 10px;
   padding-bottom: 10px;
}
#strt{
   color: #6CB840;
}
#food{
   color: #EAAB1B; 
}
#play{
    color: black;
    font-weight: 570;
}
.ell{
    margin-top: -550px;/*increase -270*/
    height: 500px;
    margin-left: 500px;/*reduce*/
    margin-right: -120px;/*increase*/
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;
    background-color: #B8E79C;
   
}
.separa{
    height: 150px;
    width: 300px;
    border-style: dashed;
    border-width: 2px;
    border-bottom: none;
    border-color: black;
     border-top-left-radius: 500px;
     border-top-right-radius: 500px;
     margin-top: -250px;
     margin-right: 180px;
     border-color:  green;  
}
#plate{
    margin-top: -50px;
    margin-left: 890px;
}
#waffle{
    margin-top: -60px;
    margin-left: 730px;
}
#kbab{
    margin-top: -200px;
    margin-left: 780px;  
}
#salad{
    margin-top: -160px;
    margin-left: 890px;  

}
#french{
    margin-left: 1000px;
    margin-top: -50px;
}
#cherry{
    margin-left: 1040px;
    margin-top: -7px;
}
.eat{
    height: 300px;
    display: flex;
    margin-left: 100px;
    width: 80%;
   
}
.eat img{ 
    float: left;
}
.exp{
    float: right;
    margin-top: 60px;
    margin-left: 60px;
}
h2{
    color: #EAAB1B;
}
.indt{
    text-indent: 70px;
    margin-top: -13px;
    font-size: 14px;
}
.menu-1{
    height: 500px;
    width: 80%;
    margin-left: 100px;
    background-color:#EAF3E4;

 }
 .menu-1 img{
    width: 150px;
    height: 150px;
}
.disp{
    display: flex;
    margin-bottom: 30px;
    margin-left: 100px;
   
}
.txt{
    margin-top: -20px;
    margin-bottom: 50px;
   text-align: center;
   margin-left: -150px;
}
.descrip{
    background-color: white;
    height: 130px;
    width: 170px;
    border-bottom-right-radius: 25px;
    margin-bottom: 70px;
    margin-right: 120px;
   
}
.one{
    margin-top: -110px;
    margin-left: -90px;
}
#nam{
    font-size: 12px;

}
.smt{
    font-size: 10px;
    margin-left: 40px;
}
.dent1{
    text-indent: 20px;
    margin-top: -10px;
}
.dent2{
    text-indent: 20px;
}
.descrip2{
    background-color: white;
    height: 130px;
    width: 170px;
    border-bottom-right-radius: 25px;
    margin-bottom: 70px;
    margin-right: 120px;
    
}
.descrip3{
    background-color: white;
    height: 130px;
    width: 170px;
    border-bottom-right-radius: 25px;
    margin-bottom: 70px;
    margin-right: 120px;
    
    
}
.disp2{
    display: flex;
    margin-left: 100px;
}
.descrip4{
    background-color: white;
    height: 130px;
    width: 170px;
    border-bottom-right-radius: 25px;
    margin-bottom: 70px;
    margin-right: 120px;     
}
.descrip5{
    background-color: white;
    height: 130px;
    width: 170px;
    border-bottom-right-radius: 25px;
    margin-bottom: 70px;
    margin-right: 120px;  
    
}
.descrip6{
    background-color: white;
    height: 130px;
    width: 170px;
    border-bottom-right-radius: 25px;
    margin-bottom: 70px;
    margin-right: 120px;  
    
}
.menu-2{
    background-color: #C9ECB5;
    height: 600px;
    width: 80%;
    margin-left: 100px;

}
h4{
    text-align: center;
    
}
#juice{
    margin-top: -170px;
 }
 #burger1{
     margin-top: -350px;
     margin-left: 50px;
     
 }
 .des{
     float: right;
     margin-top: -400px;
     margin-right: 100px;
     
 }
 #pro{
     font-size: 14px;
 }
 .dealcont{
     float: left;
 }
 #combo{
     color: #6CB840;
     font-size: 30px;
     margin-top: -15px;
     font-weight: 600;
 }
 #pizz{
     margin-left: -230px;
     font-size: 20px;
 }
 .menu-3{
    background-color: #FFF5DD;
    height: 450px;
    width: 80%;
    margin-left: 100px;
    font-size: 14px;
 }
 #email{
     border-radius: 25px;
     padding: 12px 32px;
     width: 90%;
     margin-bottom: 40px;
     margin-left: -40px;
     border: none;
     margin-top: 15px;

 }
 .contct{
     position: absolute;
     left: 35%;
    
 }
 #send{
    border-radius: 50px;
    background-color: #6CB840;
    border: none;
    width: 40%;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 50px;
    font-weight: 700;
 }
 #us{
    color: #6CB840;
}
footer{
    margin-top: -10px;
}
.menu-4{
    background-color:  #F1FAEC;
    height: 200px;
    width: 80%;
    margin-left: 100px;
    font-size: 12px;

}
.separator{
    border-left: 2px dashed;
    width: 1px;
    height: 120px;
    margin-top: -100px;
    margin-left: 200px;
}
#f1{
    font-size: 12px;
    margin-top: -20px;
}
#f2{
   font-size: 12px;
   margin-top: -20px;

}
#f3{
    font-size: 12px;
}

.day{
    margin-left: 10px;
}
#fri{
    margin-top: -10px;
    font-size: 12px;
}
.address{
    margin-left: 230px;
    margin-top: -130px;

}
.social{
    margin-left: 700px;
    margin-top: -100px;
}
#follow{
    font-size: 15px;
}
.sbt{
    margin-top: -60px;
    
 }
 .icon{
    margin-top: -70px;
    margin-left: 92%;
 }
 #news{
    background-color: #6CB840;
    border: none;
    width: 7%;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 92%;
   font-weight: 700;
    
 }