*{
    font-family: 'Poppins';
    
}
.headcont{
    height: 500px;
    background-color: lightgray;
  
    overflow: hidden;
    
}
.header{
    padding-left: 10px;
    display: inline;
}
.header a{

    text-decoration: none;
    color: #000;
    padding-right: 20px;
    padding-left: 80px;  
    margin-top: 10px;
    
}
a:hover{
	  
    color:rgb(226, 95, 43) ;
    text-decoration: underline;
    
}
.intro{
    margin-left: 100px;
    margin-top: 50px;
    font-size: 14px;
} 
#order{
   border-radius: 50px;
   background-color: #6CB840;
   border: none;
   width: 10%;
   color: white;
   font-weight: 700;
   padding-top: 10px;
   padding-bottom: 10px;
}
#strt{
   color: #6CB840;
}
#food{
   color: #EAAB1B; 
}
.ell{
    margin-top: -550px;/*increase -270*/
    height: 500px;
    margin-left: 500px;/*reduce*/
    margin-right: -120px;/*increase*/
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;
    background-color: #649549;
   
}